body, html{
  height: 100%;
  margin: 0;
  padding: 0;
}

.parallax{
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}
#aligncenter{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#anatomy{
  position: relative;
  height:100%;
}
#gradientbg{
  position: relative;
  height:100%;
  background: -webkit-linear-gradient(top left, #194c84, #0f868c);
  background: -o-linear-gradient(top left, #194c84, #0f868c);
  background: linear-gradient(to bottom right, #194c84, #0f868c);
}
#mainfont{
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  line-height:25px;
  /*font-style: regular;*/
  color:white;
}

#bg_01{
  background-image: url(http://www.visineat.com/devs/dev4/portfolio/photography/PortfolioPictures/01_home_facade.png);
  position: relative;
}

#maintitle{
  position:relative;
  font-family: 'Berkshire Swash', cursive;
  font-size: 60px;
  text-shadow: 4px 4px 5px black;
  color:white;
  z-index:2;
  margin: auto;
  top:30%;
  height:100%;
  text-align: center;
}

#subtitle{
  text-shadow: 0px 0px 0px black;
  position:relative;
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  font-style: italic;
  color:white;
  z-index:3;
  margin: auto;
  height:300px;
  text-align: center;
}

#bg_02{
  width: 100%;
  background-color: black;
  height: 100%;
  /*left: 50%;*/
  position: relative;
  background-image: url(http://www.visineat.com/devs/dev4/portfolio/photography/PortfolioPictures/02_deepam.jpg);
  background-attachment: fixed;
  /*background-position: right;*/
  background-repeat: no-repeat;
  background-size: contain;
   background: -moz-linear-gradient(left, #00ff00 50%, #ff0000 50%);
   background: -o-linear-gradient(left, #00ff00 50%, #ff0000 50%);
   background: -ms-linear-gradient(left, #00ff00 50%, #ff0000 50%);
   background: linear-gradient(left, #00ff00 50%, #ff0000 50%);
}

#circle1{
    position: absolute;
    top: 42%;
    left: 46%;
    background: radial-gradient(circle,rgba(0,0,0,0) 0%,rgba(241,155,0,0.4) 70%);
    boxSizing:'border-box';
    height:100px;
    width:100px;
    margin: 0 auto;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    animation-name: stretch;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#circle2{
    position: absolute;
    background: radial-gradient(circle,rgba(0,0,0,0) 0%,rgba(25,76,132,0.4) 70%);
    height:100px;
    width:100px;
    margin: 0 auto;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    animation-name: smallstretch;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes stretch {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(3);
  }
}

@keyframes smallstretch {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(2);
  }
}


#bg_03{
  width: 100%;
  height: 100%;
  background-color: white;
}

@keyframes dash {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#timeline{
  width:100%;
}

/* Level 4: William Carey Baptizing */

/*img #careyClip{
  clip-path: url(#clipping);
}*/
/*#clipping{
  height:100%;
}*/
#carey{
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: contain;
  background-color: yellow;
}
.layer{
  background-position: bottom right;
  /*background-size: auto;*/
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}
.layer-01{
  background-image: url('http://www.visineat.com/devs/dev4/portfolio/photography/PortfolioPictures/04_carey01.png');
}
.layer-02{
  background-image: url('http://www.visineat.com/devs/dev4/portfolio/photography/PortfolioPictures/04_carey02.png');
}
.layer-03{
  background-image: url('http://www.visineat.com/devs/dev4/portfolio/photography/PortfolioPictures/04_carey03.png');
}


#poem{
  height: 100%;
  position:relative;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 21px;
  font-style: italic;
  /*font-weight: bold;*/
  background-color: white;
  justify-content: center;
 }
 #stanza{
  height: 70%;
  margin: auto;
  position: absolute;
  color: white;
  top: 0; left: 0; bottom: 0; right: 0;
  line-height: 150%;
  -webkit-animation: smooth 5s ease-in;
  -moz-animation: smooth 5s ease-in;
  -o-animation: smooth 5s ease-in;
  -ms-animation: smooth 5s ease-in;
  animation: smooth 5s ease-in;
 }
 @-webkit-keyframes smooth {
    0% { opacity: 0;
      font-size: 18px;
    }
    100% { opacity: 1;
      font-size: 21px;
    }
}
#bg{
  width: 400px;
  height:80%;
  background-color: orange;
  opacity: 0.8;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}
#slideshow{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*animation*/

  animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
}

.pic-1 {
  opacity: 1;
  background: url("http://www.visineat.com/devs/dev4/portfolio/photography/PortfolioPictures/05_01.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background: url("http://www.visineat.com/devs/dev4/portfolio/photography/PortfolioPictures/05_02.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background: url("http://www.visineat.com/devs/dev4/portfolio/photography/PortfolioPictures/05_03.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background: url("http://www.visineat.com/devs/dev4/portfolio/photography/PortfolioPictures/05_04.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


  @keyframes
slideShow {  0% {
 opacity: 0;
 transform:scale(1);
 -ms-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 transform:scale(1.1);
 -ms-transform:scale(1.1);
}
 100% {
 opacity: 0;
 transform:scale(1);
 -ms-transformm:scale(1);
}
}
 @-o-keyframes
slideShow {  0% {
 opacity: 0;
 -o-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -o-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -o-transformm:scale(1);
}
}
 @-moz-keyframes
slideShow {  0% {
 opacity: 0;
 -moz-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -moz-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -moz-transformm:scale(1);
}
}
 @-webkit-keyframes
slideShow {  0% {
 opacity: 0;
 -webkit-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -webkit-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -webkit-transformm:scale(1);
}
}


#problems{
  position: relative;
  height: 100%;
}

#quotes{
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  width:300px;
}

.randomTitle{
  font-family: 'Libre Baskerville', serif;
  animation-name: letters;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
.rows:first-of-type{background-color: red}
.rows:nth-of-type(2){background-color: blue}
.rows:nth-of-type(3){background-color: green}

.rows{
  height: 200px;
  height: 33%; /* as @passatgt mentioned in the comment*/
  height: calc(100% / 3);
  display: inline-block;
}

@keyframes letters {
0%{
  transform: translate3d(10px, 0, 0px);

}
100%{
  transform: translate3d(500px, 300px, 100px);
}

/* Slideshow*/

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
